@import url('../base.css');
body {
  background-color: rgb(102, 255, 255);
  padding: 5rem 2rem;
  color: rgb(34, 35, 36);
  font-size: 2rem;
}

nav {
  position: relative;
  -webkit-perspective: 60rem;
  perspective: 60rem;
}

.cool>li>a {
  color: white;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  display: inline-block;
  margin: 2rem;
  border-radius: 0.5rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cool>li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 2rem;
  top: -2rem;
  border-radius: 0.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(10rem);
  transform: translateY(10rem);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  width: 10rem;
  height: 10rem;
  position: absolute;
  background: white;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 5rem 10rem rgba(50, 50, 93, .1), 0 1.5rem 3.5rem rgba(50, 50, 93, .15), 0 0.5rem 1.5rem rgba(0, 0, 0, .1);
  box-shadow: 0 5rem 10rem rgba(50, 50, 93, .1), 0 1.5rem 3.5rem rgba(50, 50, 93, .15), 0 0.5rem 1.5rem rgba(0, 0, 0, .1);
  -webkit-transition: all 0.3s, opacity 0.1s, -webkit-transform 0.2s;
  transition: all 0.3s, opacity 0.1s, -webkit-transform 0.2s;
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transition: all 0.3s, opacity 0.1s, transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: block;
  background: white;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.bio {
  min-width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.7;
}

.courses {
  min-width: 30rem;
}

.courses li {
  padding: 1rem 0;
  display: block;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.dropdown a {
  text-decoration: none;
  color: rgb(255, 102, 255);
}

a.button {
  background: rgb(255, 102, 255);
  display: block;
  padding: 1rem;
  color: white;
  margin-top: 1rem;
}

.dropdown li:first-child a.button {
  margin-top: 0;
}