html {
  font-size: 62.5%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #49dcb1;
  font-size: 2rem;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
}

.inbox {
  max-width: 40rem;
  margin: 5rem auto;
  background: #fff;
  border-radius: 0.5rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.1rem solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked {
  background-color: #f9f9f9;
}

input:checked+p {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 2rem;
}

p {
  margin: 0;
  padding: 2rem;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 0.1rem solid #d1e2ff;
}

@media (max-width: 25em) {
  .inbox {
    width: 90%;
  }
}