@import url('../base.css');

body {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  background: rgb(0, 255, 255);
  color: rgb(34, 35, 36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  min-height: 100%;
  min-height: 100vh;
}

.inbox {
  background: white;
  -webkit-box-shadow: 1rem 1rem rgb(0, 120, 255);
          box-shadow: 1rem 1rem rgb(0, 120, 255);
  margin: 5rem auto;
  max-width: 40rem;
}

.item {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  border-bottom: 0.1rem solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item:last-child {
  border-bottom: 0;
}

input:checked {
  background-color: #f9f9f9;
}

input:checked + p {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 2rem;
}

p {
  border-left: 0.1rem solid #d1e2ff;
  -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
  margin: 0;
  padding: 2rem;
}

@media (max-width: 31.25em) {
  .inbox {
    width: 90%;
  }
}
