@import url('../base.css');

body {
  background-color: white;
  color: rgb(34, 35, 36);
  font-size: 2rem;
  margin: 0 auto;
  max-width: 150rem;
  padding: 5rem;
}

.controls {
  margin-bottom: 1rem;
}

.controls button {
  cursor: pointer;
}

.photobooth:after {
  clear: both;
  content: '';
  display: block;
}

.photo {
  -webkit-box-shadow: 0.5rem 0.5rem rgb(120, 255, 255), 1rem 1rem rgb(255, 120, 255);
          box-shadow: 0.5rem 0.5rem rgb(120, 255, 255), 1rem 1rem rgb(255, 120, 255);
  float: left;
  width: 100%;
}

.player {
  border: 0.3rem solid rgb(150, 150, 150);
  position: absolute;
  right: 7rem;
  top: 10rem;
  width: 20rem;
}

.strip {
  padding: 2rem;
}

.strip img {
  background: white;
  -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  width: 10rem;
}

.strip a:nth-child(5n+1) img {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.strip a:nth-child(5n+2) img {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.strip a:nth-child(5n+3) img {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.strip a:nth-child(5n+4) img {
  -webkit-transform: rotate(-11deg);
          transform: rotate(-11deg);
}

.strip a:nth-child(5n+5) img {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

@media (max-width: 60em) {
  video {
    display: none;
  }
}
