@import url('../base.css');
body {
  background-color: rgb(255, 102, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%;
  min-height: 100vh;
  color: white;
  font-size: 2.4rem;
}

main {
  margin: 5rem 2rem;
}

.modal {
  position: fixed;
  background-color: rgb(255, 102, 255);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-content {
  width: 50rem;
  text-align: center;
  text-shadow: 0.2rem 0.2rem rgb(34, 35, 36);
  border: 0.3rem solid rgb(102, 255, 255);
  -webkit-box-shadow: 0 0 0 0.3rem rgb(255, 102, 255), 0 0 0 0.6rem white;
  box-shadow: 0 0 0 0.3rem rgb(255, 102, 255), 0 0 0 0.6rem white;
  border-radius: 0.8rem;
  padding: 1.5rem 1rem;
}

.modal-content button.ok {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  margin-top: 1rem;
  text-shadow: 0.2rem 0.2rem rgb(34, 35, 36);
  border: none;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  text-align: center;
  -webkit-transition: transform 0.1s linear;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.modal-content button.ok:hover,
.modal-content button.ok:focus,
.modal-content button.ok:active {
  color: rgb(102, 255, 255);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

h1 {
  font-size: 5.7rem;
  text-align: center;
  color: rgb(102, 255, 255);
  text-shadow: 0.3rem 0.3rem 0 rgb(34, 35, 36), 0.6rem 0.6rem 0 white;
}

.keys {
  padding-top: 1.6rem;
  width: 70rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
}

.key {
  text-shadow: 0.2rem 0.2rem rgb(34, 35, 36);
  border: 0.3rem solid rgb(102, 255, 255);
  -webkit-box-shadow: 0 0 0 0.3rem rgb(34, 35, 36), 0 0 0 0.6rem white;
  box-shadow: 0 0 0 0.3rem rgb(255, 102, 255), 0 0 0 0.6rem white;
  border-radius: 0.8rem;
  margin: 1.6rem;
  font-size: 2.6rem;
  padding: 1.6rem 0.8rem;
  -webkit-transition: all 0.07s ease;
  transition: all 0.07s ease;
  -webkit-box-flex: 1;
  -ms-flex: 1 25%;
  flex: 1 25%;
  text-align: center;
  background: transparent;
  line-height: 1;
  cursor: pointer;
}

.playing {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgb(102, 255, 255);
}

kbd {
  display: block;
  font-size: 5rem;
}

.sound {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: inherit;
}

@media (max-width: 50em) {
  .modal-content {
    width: 90%;
  }
  .keys {
    width: 100%;
  }
}