@import url('../base.css');
html {
  background-color: rgb(120, 255, 255);
}

body {
  text-align: center;
  color: white;
}

.display__time-left {
  font-size: 20rem;
  margin: 0;
  text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.timer__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer__controls>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.timer__controls form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer__controls input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0;
  padding: 2rem;
}

.timer__button {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 0.3rem solid rgba(0, 0, 0, 0.2);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: inherit;
  text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.timer__button:hover,
.timer__button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: 0;
}

.display {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.display__end-time {
  font-size: 4rem;
  text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 35em) {
  .display__time-left {
    font-size: 10rem;
  }
}