@import url('../base.css');

body {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  background: rgb(0, 255, 255);
  color: rgb(34, 35, 36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  min-height: 100%;
  min-height: 100vh;
}

main {
  background: white;
  -webkit-box-shadow: 1rem 1rem rgb(0, 120, 255);
          box-shadow: 1rem 1rem rgb(0, 120, 255);
  margin: 5rem auto;
  width: 50rem;
}

#bands {
  list-style: inside square;
}

#bands li {
  border-bottom: 0.1rem solid #efefef;
  padding: 2rem;
}

#bands li:last-child {
  border-bottom: 0;
}

@media (max-width: 31.25em) {
  main {
    width: 90%;
  }
}
