@import url('../base.css');
body {
  background: rgb(0, 255, 255);
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
  color: rgb(34, 35, 36);
}

main {
  width: 50rem;
  margin: 5rem auto;
  background: white;
  -webkit-box-shadow: 1rem 1rem rgb(0, 120, 255);
  box-shadow: 1rem 1rem rgb(0, 120, 255);
}

#bands {
  list-style: inside square;
}

#bands li {
  border-bottom: 0.1rem solid #efefef;
  padding: 2rem;
}

#bands li:last-child {
  border-bottom: 0;
}

@media (max-width: 31.25em) {
  main {
    width: 90%;
  }
}