@import url('../base.css');

html {
  background-color: rgb(0, 255, 255);
}

body {
  color: white;
  font-size: 2.4rem;
  text-align: center;
}

main {
  margin: 0 auto;
  padding: 5rem 2rem;
  width: 100rem;
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.4rem;
  text-shadow: 0.4rem 0.4rem 0 rgba(255, 0, 255, 0.6);
}

.controls {
  margin-top: 2rem;
  text-shadow: 0.25rem 0.25rem 0 rgba(255, 0, 255, 0.6);
  width: 100%;
}

input {
  width: 10rem;
}

img {
  margin-top: 3rem;
  padding: 1rem;
  width: 100%;
}

@media (max-width: 62.5em) {
  main {
    width: 100%;
  }
  label + input {
    width: 100%;
  }
}

/* 
 * CSS Variable styles 
 */

:root {
  --base: #f7df1e;
  --blur: 1rem;
  --opacity: 1;
}

img {
  background: var(--base);
  -webkit-filter: blur(var(--blur));
          filter: blur(var(--blur));
  opacity: var(--opacity);
}

.hl {
  color: var(--base);
}
