@import url('../styles/base.css');

body {
  background-color: white;
  color: rgb(34, 35, 36);
  font-size: 2rem;
  text-align: center;
}

h1 {
  font-size: 7.2rem;
  margin-top: 0;
}

main {
  border: 0.3rem solid rgb(150, 150, 150);
  -webkit-box-shadow: 0.5rem 0.5rem rgb(120, 255, 255), 1rem 1rem rgb(255, 120, 255);
          box-shadow: 0.5rem 0.5rem rgb(120, 255, 255), 1rem 1rem rgb(255, 120, 255);
  margin: 5rem auto;
  max-width: 70rem;
  padding: 4rem;
  text-align: justify;
}

p {
  margin: 1.5rem 0;
}

.align-left {
  float: left;
  margin-right: 2rem;
}

.align-right {
  float: right;
  margin-left: 2rem;
}

.slide-in {
  opacity: 0;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.align-left.slide-in {
  -webkit-transform: translateX(-30%) scale(0.95);
          transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  -webkit-transform: translateX(30%) scale(0.95);
          transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  -webkit-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1);
}

@media(max-width: 43.75em) {
  main {
    width: 90%;
  }
  img {
    margin: 0 0 1.5rem 0;
    max-width: 100%;
  }
}
