@import url('../base.css');
body {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  font-size: 2.6rem;
  text-align: center;
}

div {
  width: 100%;
  height: 100%;
}

.one {
  background: rgb(102, 255, 255);
  padding: 10%;
}

.two {
  background: rgb(255, 102, 255);
  padding: 10%;
}

.three {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}