html {
  font-size: 62.5%;
}

body {
  background-color: #222324;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clock {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  margin: 2rem 0;
  position: relative;
  -webkit-box-shadow: 0.5rem 0.5rem 0 rgb(0, 255, 255), 1rem 1rem 0 rgb(255, 0, 255);
  box-shadow: 0.5rem 0.5rem 0 rgb(0, 255, 255), 1rem 1rem 0 rgb(255, 0, 255);
}

.center {
  position: absolute;
  top: 47.5%;
  left: 47.5%;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background-color: rgb(0, 255, 255);
}

.hand {
  border-radius: 2rem;
  width: 40%;
  left: 10%;
  height: 1%;
  background: rgb(0, 255, 255);
  position: absolute;
  top: 49.5%;
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  width: 35%;
  left: 15%;
}

.second-hand {
  background: rgb(255, 0, 255);
}

@media (max-width: 30.625em) {
  body {
    font-size: 1.5rem;
  }
  .clock {
    width: 80vw;
    height: 80vw;
  }
}