@import url('../base.css');
body {
  background-color: white;
  color: rgb(34, 35, 36);
  text-align: center;
  font-size: 2rem;
}

.search-form {
  width: 50rem;
  margin: 5rem auto;
  -webkit-box-shadow: 0.5rem 0.5rem rgb(120, 255, 255), 1rem 1rem rgb(255, 120, 255);
  box-shadow: 0.5rem 0.5rem rgb(120, 255, 255), 1rem 1rem rgb(255, 120, 255);
  border: 0.3rem solid rgb(150, 150, 150);
}

input.search {
  font-family: inherit;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  outline: 0;
  background-color: rgb(230, 230, 230);
  color: rgb(34, 35, 36);
  border: none;
  font-size: 4rem;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background-color: white;
  list-style: none;
  border-bottom: 0.1rem solid rgb(230, 230, 230);
  margin: 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: capitalize;
}

span.population {
  font-size: 1.5rem;
}

.hl {
  background-color: rgb(0, 180, 255);
}

@media (max-width: 32.5em) {
  .search-form {
    width: 90%;
  }
  input.search {
    border: none;
  }
}