html {
  font-size: 62.5%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-form {
  width: 50rem;
  margin: 5rem auto;
}

input.search {
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  outline: 0;
  background-color: #fff;
  color: #333;
  border: none;
  font-size: 4rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.12), inset 0 0 0.2rem rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.12), inset 0 0 0.2rem rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background: #252526;
  list-style: none;
  border-bottom: 0.1rem solid #333;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 2rem;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: capitalize;
}

span.population {
  font-size: 1.5rem;
}

.hl {
  background: #0070cc;
}

@media (max-width: 31.25em) {
  .search-form {
    margin: 0;
    width: 100%;
  }
  input.search {
    border: none;
  }
}