@import url('../styles/base.css');

body {
  background-color: rgb(102, 255, 255);
  color: rgb(34, 35, 36);
  font-size: 2rem; 
  padding: 5rem 2rem;
}

nav {
  -webkit-perspective: 60rem;
          perspective: 60rem;
  position: relative;
}

.dropdown a {
  color: rgb(255, 102, 255);
  text-decoration: none;
}

.cool > li > a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  color: white;
  display: inline-block;
  margin: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cool > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  position: relative;
}

.dropdown {
  border-radius: 0.2rem;
  display: none;
  opacity: 0;
  overflow: hidden;
  padding: 2rem;
  position: absolute;
  top: -2rem;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  will-change: opacity;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  background: white;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 5rem 10rem rgba(50, 50, 93, .1), 0 1.5rem 3.5rem rgba(50, 50, 93, .15), 0 0.5rem 1.5rem rgba(0, 0, 0, .1);
          box-shadow: 0 5rem 10rem rgba(50, 50, 93, .1), 0 1.5rem 3.5rem rgba(50, 50, 93, .15), 0 0.5rem 1.5rem rgba(0, 0, 0, .1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10rem;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  opacity: 0;
  position: absolute;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition: all 0.3s, opacity 0.1s, -webkit-transform 0.2s;
          transition: all 0.3s, opacity 0.1s, -webkit-transform 0.2s;
          transition: all 0.3s, opacity 0.1s, transform 0.2s;
          transition: all 0.3s, opacity 0.1s, transform 0.2s, -webkit-transform 0.2s;
  width: 10rem;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  background: white;
  display: block;
  height: 2rem;
  position: absolute;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 2rem;
}

.bio {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  line-height: 1.7;
  min-width: 50rem;
}

.courses {
  min-width: 30rem;
}

.courses li {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 1rem 0;
}

a.button {
  background: rgb(255, 102, 255);
  color: white;
  display: block;
  margin-top: 1rem;
  padding: 1rem;
}

.dropdown li:first-child a.button {
  margin-top: 0;
}
