html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url('./background.jpg') center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 5rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.arrow {
  width: 25rem;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  display: inline-block;
  margin: 1.6rem;
}

p {
  margin: 1rem;
}

.units {
  font-size: 1.6rem;
}