@import url('../base.css');
body {
  background-color: white;
  padding: 5rem 2rem;
  color: rgb(34, 35, 36);
  font-size: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 70rem;
  padding: 3rem;
  -webkit-box-shadow: 0.5rem 0.5rem rgb(120, 255, 255), 1rem 1rem rgb(255, 120, 255);
  box-shadow: 0.5rem 0.5rem rgb(120, 255, 255), 1rem 1rem rgb(255, 120, 255);
  border: 0.3rem solid rgb(150, 150, 150);
}

.wrapper {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 255);
  padding: 0.5rem;
}

p {
  margin-top: 1.5rem;
}

.menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.menu a {
  font-size: 3rem;
  margin: 0 2rem;
}

.highlight {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: rgb(120, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}

@media (max-width: 37.5em) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .menu a {
    margin-left: 0;
  }
}